.slider-container {
	top: 10px;
	position: relative;
  height: 70px;
  width: 760px;
  margin: auto;
  text-align: center;
}

.thumbnail:hover {
	filter: brightness(100%);
}

.slider {
  transform: translateX(5px);
}

.slide {
  position: relative;
  outline: none;
}

.thumbnail {
  filter: brightness(40%);
	height: 70px;
  width: 100px;
  cursor: pointer;
}

.thumbnail-frame {
  margin: 0px;
}