body {
	margin: 0px;
	height: 1500px;
}

.font-button {
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.5px;
}

.main-image {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.background {
	 composes: font-button;
	 position: relative;
	 min-height: 500px;
   max-height: 700px;
	 width: 100%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: 50% 50%;
	 border: 1px transparent;
}

.button {
	composes: font-button;
	color: #484848;
	padding: 8px 16px 8px 16px;
	background: white;
	font-size: 15px;
	line-height: 18px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.view-photos {
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: auto;
}