.modal-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	height: 100%;
	width: 100%;
  cursor: pointer;
  opacity: 1;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 200ms ease-out;
}