.share-container {
  cursor: default;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  font-family: 'Circular', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.share-page {
  height: 700px;
  width: 380px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19), 
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  height: 640px;
  width: 340px;
  margin: auto;
  transform: translateY(30px);
}

.invisible-button {
  background: rgba(0,0,0,0)!important;
  border: 0px !important;
  outline: none !important;
  cursor: pointer !important;
}

.clickable-link {
  composes: invisible-button;
  font-size: 20px;
  color: #008489;
  text-decoration: none !important;
}

.clickable-link:hover {
  text-decoration-line: underline !important;
}

.close-button {
  composes: invisible-button;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
  color: rgba(118,118,118,1);
  font-weight: 100;
}

.list-entry {
  height: 20px !important;
  width: 100%;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  border-bottom: 1px solid #DBDBDB !important;
}

.list-entry-first {
  composes: list-entry;
  border-top: 1px solid #DBDBDB !important;
}

.title {
  font-size: 28px;
  font-weight: 900;
  margin: 0px;
  margin-bottom: 3px;
}

.description {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  margin-bottom: 20px !important;
}