.font-caption {
	font-family: 'Circular', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.invisible-button{
  background: rgba(0,0,0,0) !important;
  border: 0px !important;
  outline: none !important;
  cursor: pointer !important;
}

.close-lightbox {
  composes: invisible-button;
  position: absolute;
  top: 10px;
	right: 10px;
	padding: 10px;
  z-index: 6;
}

.lightbox-container {
	cursor: default;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.display-image {
	position: absolute;
	margin: auto;
	height: 460px;
	max-width: 755px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  cursor: pointer;
  animation: 300ms;
  animation-name: fadein;
  will-change: transform, opacity;
}

.gallery-nav {
  composes: invisible-button;
	position: relative;
	margin: auto;
	height: 100%;
	width: 200px;
	display: inline-block;
	vertical-align: middle;
	z-index: 4;
}

.nav-left {
	composes: gallery-nav;
	float: left;
}

.nav-right {
	composes: gallery-nav;
	float: right;
}

.nav-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	vertical-align: middle;
	height: 80px;
	width: 80px;
	margin: auto;
	line-height: 1;
}

.lightbox-bottom {
  z-index: 8;
	bottom: 10px;
	position: absolute;
	overflow: hidden;
  width: 760px;
  left: 0;
  right: 0;
  margin: auto;
	height: 100px;
}

.photo-list-header {
	composes: font-caption;
	color: white;
	width: 760px;
	height: 20px;
  margin: auto;
  transform: translateX(2.5px);
}

.popup-arrow {
  height: 10px;
  width: 10px; 
  text-align: center;
  float: right;
}

.popup-icon {
  line-height: 10px;
}

.popup-icon-down {
  composes: popup-icon;
  animation: 250ms;
  animation-name: rotatedown;
  transform: rotate(180deg);
}

.popup-icon-up {
  composes: popup-icon;
  animation: 250ms;
  animation-name: rotateup;
  transform: rotate(0deg);
}

.photo-list-button {
	composes: font-caption;
	composes: invisible-button;
	color: white;
	height: 20px;
	transform: translateX(-5px);
}

.photo-list-up {
	animation: 300ms;
	animation-name: slideup;
	transform: translateY(0px);
}

.photo-list-down {
	animation: 300ms;
	animation-name: slidedown;
	transform: translateY(70px);
}

@keyframes slideup {
	from {
		transform: translateY(70px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes slidedown {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(70px);
	}
}

@keyframes fadein {
  from {
		opacity: 0.01;
		transform: translateX(10px);
  }

  to {
		opacity: 1;
		transform: translateX(0px);
  }
}

@keyframes rotatedown {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateup {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}